<div class="nav-panel">
    <div class="main">Main</div>
    <div class="overview">Overview</div>

</div>
<div class="wrapper">
    <div class="items">
        <div class="name">Items</div>
        <div class="add-new">
            <input placeholder="Type name here..." ng-model="$ctrl.itemName">
            <button ng-click="$ctrl.addItem()">Add new</button>
        </div>
        <div class="list" ng-repeat="item in $ctrl.items track by $index">
            <div class="item-name" ng-click="$ctrl.showComments(item.id)">{{item.name}}</div>
            <div class="count">{{item.comments.length}}</div>
            <button ng-click="$ctrl.deleteItem(item.id)">Delete</button>
            <div class="line"></div>
        </div>
    </div>
    <div class="comments" ng-if="$ctrl.itemComments">
        <div class="comments-name"> {{$ctrl.itemComments.name}}</div>
        <div class="comments-box" >
            <div class="comments-content" ng-repeat="item in $ctrl.itemComments.comments track by $index">
                <div class="comments-image"></div>
                <div class="comments-text">{{item}}</div>
            </div>
        </div>
        <div class="comments-input">
            <div class="image"></div>
            <textarea ng-keypress="$ctrl.addComment($event)" ng-model="$ctrl.comment"></textarea>
        </div>

    </div>
</div>
